/.idea
/node_modules
/public/hot
/public/js
/public/css
/public/*.js
!/public/registerServiceWorker.js
/public/storage
/public/.htaccess
/public/mix-manifest.json
/public/images/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
